#wp-reactivate-admin{
  max-width: 800px;
      margin: auto;
}


.app-header{
  background: #1b1c1d;
  margin-top:100px;
  display: flex;
}
.app-header div {
  align-items: center;
  align-content: center;
}
.app-header div img{
  display: block;
}
.app-header div:first-child{
  align-items: center;
  align-content: center;
  display: flex;
  padding: 0 0 0 20px;
}

.app-header h3{
  color:#fff;
  margin: 0;
  padding: 15px 10px;
}


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1; /*For IE 6&7 only*/
}
.main{
  display: flex;
}
.main  .image{
    width:100px;
}
.main  .image{
  display: flex;
  text-align: center;
  align-items: center;
  width: 70px;
  margin-right: 30px;
  height: 36px;
  overflow-x: hidden;
}
.main  .image a{}
.main  .image img{
  display: block;
      margin: auto;
          opacity: 0.6;
}



.slide-inner-box{

}

.slide  .REST_Controller{
    position: absolute;
    right: 10px;
    bottom:10px;
}
.slide  .REST_Controller  button{
      height: 24px;
      line-height: 18px;
      font-size: 13px;
}




.slideBox  .slide-inner-box{
  background-image:url('../img/slideshow-table-heading.png');
  margin-bottom: 10px;
  padding:10px;
  position: relative;

  -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  margin: 1rem 0;
  padding: 1em 1em;
  border-radius: .28571429rem;
  border: 1px solid rgba(34,36,38,.15);
}

.slideBox  .slide-inner-box .slide_controller  .button{
  margin-right:20px;
}
.slideBox  .slide-inner-box .slide_controller  label{
  line-height: 25px;
}







.slideBox{
  box-shadow: rgb(204, 204, 204) 0px 1px 2px;
  background: #fff;

  min-height: 100px;

  padding:5px 30px 50px 30px;
  position: relative;
}




.slideBox > .btnAdd{
  position: absolute;
  bottom:15px;
}

.slideBox > .btnModal{
  position: absolute;
  bottom:15px;
  right:30px;
}

.slideBox .slide{

  background: #fff;
  margin-bottom: 10px;
  padding:10px;
  position: relative;

  -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  margin: 1rem 0;
  padding: .5em;
  border-radius: .28571429rem;
  border: 1px solid rgba(34,36,38,.15);
}


  .REST_Controller button.edit{
    background-image:url('../img/edit-3.svg');
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    width: 30px;
  }
  .REST_Controller button.edit:hover,
  .REST_Controller button.edit:active,
  .REST_Controller button.edit:focus{
    background-image:url('../img/edit-3.svg');
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
  }

  .REST_Controller button.del,
  .REST_Controller button.del:hover,
  .REST_Controller button.del:active,
  .REST_Controller button.del:focus{
    background-image:url('../img/trash-2.svg');
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    width: 30px;
  }

  .REST_Controller button.up,
  .REST_Controller button.up:hover,
  .REST_Controller button.up:active,
  .REST_Controller button.up:focus{
    background-image:url('../img/chevron-up.svg');
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    width: 30px;
  }

  .REST_Controller button.down,
  .REST_Controller button.down:hover,
  .REST_Controller button.down:active,
  .REST_Controller button.down:focus{
    background-image:url('../img/chevron-down.svg');
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
    width: 30px;
  }
  .slideBox .slide .image a{ display: block; height:100%; }
  .slideBox .slide .image a img{
    height:100%;
  }
 .slideBox .slide button{
   margin-left:3px;
 }
 .slideBox .slide button.hideMe{
   visibility: hidden;
 }

 .slideBox .slide button.edit{
   padding:2px 5px 2px;
 }

.slideBox .slide button.del{
  padding:1px 3px 3px;
}
.slideBox .slide button.up,
.slideBox .slide button.down{
     padding: 0 3px;
   }

.slideBox li {
  list-style-type: none;
}
